include README.md
include LICENSE
include requirements.txt
include CHANGELOG.md
recursive-include src/doccraft *.py
recursive-include docs *
recursive-include examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co] 